table[border="1"] {
	/* como lo borrooo */
	border: 0; /* borre el punto, pero con hidden no me deja */
	/* display: none; */ /* ahhh */
}
.table {
	margin: 0 70px;
	display: inline-block;
	border: thin solid black;
	font-size: 3rem;
} /* border al final es mejor que esto por aplica a todo  por lo que hay que:*/
table,
td,
th {
	border: thin solid black;
}
tr {
	border: thick solid navajowhite; /* tr no tiene bordes */
}
.collapse {
	border-collapse: separate; /* predeterminado */
	border-collapse: collapse; /* collapsan los bordes y agarran el color del tr */
}
.separate {
	border-collapse: separate;
	border-spacing: 10px; /* necesita el predeterminado de border collapase */
	empty-cells: show; /* default */
	empty-cells: hide; /* oculta las celdas vacías */
}
