/* ***************Variables*************** */
:root {
	/* variables */
	--color-first: #d90062;
	--color-first_alpha: rgba(217, 0, 98, 0.75);
	--color-second: #501464;
	--color-second_alpha: rgba(80, 20, 100, 0.75);
	--color-third: #14192d;
	--color-third_alpha: rgba(20, 25, 45, 0.75);
	--font: "Raleway", sans-serif;
	--max-width: 1200px;
	--hero-image-first: url(assets/miFondo.jpg);
	--hero-image-second: url(assets/hero-image-customers.jpg);
	--card-icon-max-width: 5rem;
	--margin-small-section: 1rem;
	--margin-lg-section: 2rem;
	--margin-article-vertical: 1rem 0;
	/* variables reutilisables??? */
	--header-height: 4rem;
	--header-child-height: 2rem;
	/* fijas */
	--color-white: #ffffff;
	--color-grey_light: #f3f3f3;
	--color-grey: #cccccc;
	--color-grey_dark: #666666;
	--color-black: #000000;
	--color-link: #509ee3;
	--color-text: #222222;
	--color-title: #333333;
	--color-white_alpha: rgba(255, 255, 255, 0.5);
	--color-black_alpha: rgba(0, 0, 0, 0.5);
	--bg-opacity_dark: var(--color-black_alpha);
	--bg-opacity_light: var(--color-white_alpha);
	/* Unicas */
	--foto-mia: url(assets/fotoMia.jpg);
	--foto-mia-position: 50%;
}
/* ***************Reset*************** */
html {
	scroll-behavior: smooth;
	font-size: 16px; /* esto sobreescribe los tamaños asignados a los encabezados */
	font-family: var(--font);
	color: var(--color-text);
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	overflow-x: hidden;
}
a {
	color: var(--color-link);
	/* transition: all 0.5s ease-out; */
}
a:hover {
	opacity: 75%;
}
p {
	line-height: 1.6;
}
img {
	max-width: 100%;
}
h1 {
	margin: 0;
	font-size: 2rem;
}
h2 {
	margin: 0;
	font-size: 1.5rem;
}
h3 {
	margin: 0;
	font-size: 1.25rem;
}
h4 {
	margin: 0;
	font-size: 1rem;
}
h5 {
	margin: 0;
	font-size: 0.85rem;
}
h6 {
	margin: 0;
	font-size: 0.7rem;
}

/* ***************Componentes*************** */
/* ----------------Menu_burguer_mobile---------------- */
.menu-btn {
	height: var(--header-child-height);
	fill: var(--color-first); /* para cambiar el color de un svg */
}
.menu {
	position: fixed; /* pierde el width */
	left: 0;
	bottom: -500px;
	width: 100%;
	background-color: var(--color-third);
	display: flex;
	flex-flow: column;
	text-align: center;
	transition: bottom 1s;
	z-index: 991;
}
.menu.inBottom {
	bottom: var(--header-height);
}
.menu a {
	text-decoration: none;
	color: var(--color-first);
	padding: 1rem;
	width: 100%;
}
.menu a:hover {
	color: var(--color-white);
	background-color: var(--color-first);
}
.menu-bg {
	opacity: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	transition: opacity 0.4s;
	background-color: var(--bg-opacity_dark);
}
@media screen and (min-width: 1024px) {
	.menu-btn,
	.menu-bg {
		display: none;
	}
	.menu {
		text-align: end;
		width: auto;
		position: static;
		flex-flow: row;
		opacity: 1;
		pointer-events: auto;
		align-items: center;
		transition: none;
	}
	.menu a {
		padding: 0rem 1rem;
	}
	.menu a:last-child {
		padding-right: 0;
	}
	.menu a:hover {
		background-color: initial;
	}
}
/* ----------------Hero-Image---------------- */
.hero-image-conteiner {
	background-image: var(--hero-image-first);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-bottom: 1rem;
}
.hero-image-opacity {
	width: 100%;
	min-height: 100%;
	background-color: var(--bg-opacity_dark);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	color: var(--color-white);
	text-align: center;
}
.hero-image-opacity h2 {
	font-size: 7.5vw;
}
@media screen and (min-width: 1024px) {
	.hero-image-conteiner {
		margin-bottom: 2rem;
	}
}
/* ----------------Information---------------- */

.about > * {
	margin: var(--margin-small-section);
}

.information {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.information > * {
	margin: var(--margin-article-vertical);
}
.information-title {
	text-align: center;
}
.myPhoto-conteiner {
	max-height: 50vh;
}
.myPhoto {
	background-image: var(--foto-mia);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--foto-mia-position);
	filter: grayscale(1);
	margin: var(--margin-article-vertical);
}
.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.skills > * {
	margin: var(--margin-article-vertical);
}
@media screen and (min-width: 1024px) {
	.text-lg-right {
		/* tipo bootrtrap */
		text-align: right;
		align-self: flex-end;
	}
	.text-lg-left {
		text-align: left;
		align-self: flex-start;
		justify-self: flex-start;
	}
	.about {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.about > * {
		margin: var(--margin-lg-section) 1rem;
	}
}
/* ***************Estados*************** */
.isActive {
	opacity: 1;
	pointer-events: auto;
}
/* ***************Utilidades*************** */
.box-shadow-in {
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.none {
	display: none;
}
.conteiner {
	margin: 0 auto;
	max-width: var(--max-width);
}
.btn {
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: var(--color-first);
	display: inline-block;
	width: 200px;
	text-align: center;
	color: var(--color-white);
	text-decoration: none;
	font-weight: bold;
}
.no-select {
	user-select: none;
}
.card-icon {
	max-width: var(--card-icon-max-width);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card-icon img {
	min-width: 5rem;
}
.icons-conteiner {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, auto);
	text-align: center;
	justify-items: center;
}
.title-h1 {
	color: var(--color-title);
	font-size: 2rem;
}
/* ***************Estilos*************** */
.header {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 990;
	height: var(--header-height);
	width: 100%;
	padding: 1rem;
	background-color: var(--color-third);
}
.header .conteiner {
	display: flex;
	justify-content: space-between;
}
.logo,
.menu-btn {
	z-index: 992;
}
.logo a:hover {
	opacity: 1;
}
.logo a {
	color: var(--color-first);
	text-decoration: none;
	font-size: 2rem;
}
.menu-btn svg {
	height: var(--header-child-height);
}
@media screen and (min-width: 768px) {
	/* en figma la table mida 744px. Le agrego 24px */
}
@media screen and (min-width: 1024px) {
	/* Ibamos a usar 1200 pero al final 1024. Puede ser que sea 1200 el max y 1024 el min para
  ya no se tablet */
	.header {
		position: sticky;
		top: 0;
		padding: 0.5rem;
		height: calc(var(--header-height)- 0.5rem);
	}
}
